:root {
  --primary: #0454ccc2;
  --secondary: #0454cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-main {
  height: 100vh;
  background-color: #041d51;
  /* background-image: url(/src/assets/bg-seven.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.todo-bg {
  width: 400px;
  min-height: auto;
  background: rgba(4, 84, 204, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid var(--primary);
  padding: 20px;
}

.todo-input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.todo-input-div input {
  width: 100%;
  height: 36px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  background: rgba(4, 84, 204, 0.16);
  padding-left: 10px;
  color: white;
}

.he {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.todo-input-div input::placeholder {
  color: #0454cc;
}

.todo-input-div button {
  width: 80px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  background: var(--secondary);
  color: #ffffff;
  cursor: pointer;
}

.todo-list {
  width: 100%;
  min-height: 40px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  background: rgba(4, 84, 204, 0.16);
  padding-left: 10px;
  color: white;
  font-size: 13px;
  padding: 10px;
  margin-top: 6px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: space-between;
}

.todo-list-items {
  display: flex;
  gap: 10px;
  overflow-wrap: anywhere;
}

.todo-list-items button {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  background: var(--secondary);
  color: #ffffff;
  cursor: pointer;
}

.todo-dlt-edit-btns {
  display: flex;
  text-align: center;
  gap: 5px;
}

.todo-dlt-edit-btns button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  background: var(--secondary);
  color: #ffffff;
  cursor: pointer;
}

.todo-filter-btn-main {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.todofilter-btn {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  background: var(--secondary);
  color: #ffffff;
  cursor: pointer;
}